.product-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: #2e7d32;
}

.product-card button {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 images per row */
  gap: 25px;
  padding: 40px;
  background-color: #f7f7f7;
}
.product-card button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #333;
}
.cart {
  position: relative;
  padding-right: 10px;
}

.cart-count {
  position: absolute;
  top: -15px;
  right: -10px;
  min-width: 18px;
  height: 18px;
  background-color: rgb(48, 35, 35);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
